.contenedor {
    background-image: url(../../../assets/img/fondo3.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 40.7rem;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_logIn {
    padding: 10px; 
    width: 350px;
    height: 300px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.login-title{
    text-align: center;
    font-weight: 700;
}

.login-card .login-content{
    padding-top: 20px;
    padding-left: 40px;
}

.login-label{
    font-weight: bold;
}

.login-label:last-of-type {
    margin-top: 20px;
}

.login-textbox{
    height: 25px;
    width:100%;
    padding: 15px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


.login-btn{
    height: 35px;
    width: 43%;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #2874a6;
}

.buttonsOptions{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.btnOp{
    background-color: transparent;
    border: none;
}

.btnOp:hover{
    color: grey;
    text-decoration: underline;
}