<div class="modalView">
    <p class="title">Editar Platillo</p>
    <form #f="ngForm" (ngSubmit)="updateData(data.name, f)" class="formulario">
        <!-- <p>{{ data.name }}</p> -->
        <input type="text" class="input-Mesa" name="name" placeholder="Nombre platillo" ngModel>
        <input type="text" class="input-Mesa" name="precio" placeholder="Precio" ngModel>
        <button type="submit" class="btn guardar-btn">Actualizar</button>
    </form>
    <button (click)="nose()" class="btn btn-primary">Salir</button>
</div>