<!-- <p>main works!</p> -->
<button class="cerrarSesion" (click)="cerrarSesion()">Cerrar Sesión</button>

<div class="body">
    <div class="container contenido">
        <h2 class="SCsection metiensabandonado"><span> SPI Manager</span></h2>
        <p class="SCsection cuantotiempotxt">¡Potencia tu restaurante con nuestro innovador software de administración! 
            <br>  Nuestra solución líder en el mercado está diseñada para optimizar todas las áreas clave de tu negocio gastronómico. 
            Con una interfaz intuitiva y fácil de usar, podrás gestionar eficientemente tus ventas, controlar tu menú, administrar 
            mesas y obtener valiosas estadísticas en tiempo real. Nuestro software, respaldado por años de experiencia y tecnología 
            de vanguardia, te brinda la confianza de contar con una solución profesional y confiable.</p>
        <div class="SCsection">
            <a class="button" (click)="irAdministracion()">Administración</a>
            <a class="button" (click)="irSistema()">Sistema</a>
        </div>
    </div>
</div>